@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import "./gutter.css";
@import "./typography.css";

:root {
  --primary: #f65261;
  --light: #fff;
  --dark: #232323;
  --greyter: #424242;
  --grey: #555;
  --grey-lighter: rgba(85, 85, 85, 0.05);
  --border-radius: 0.25rem;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* Reset */
button {
  border-color: transparent;
}

input:focus,
input:focus-visible,
input:focus-within {
  outline: none;
}

/* Text-color */
.text-light {
  color: var(--light);
}

/* Flex */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.grow {
  flex-grow: 1;
}

/* Display */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Width */
.w-half {
  width: 50%;
}
.w-full {
  width: 100%;
}
.w-one-third {
  width: 30%;
}

/* Padding */
.p-1 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-7 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Typography */
.capital {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

/* Helpers */
.cursor-pointer {
  cursor: pointer;
}

.input {
  cursor: pointer;
  border: 1px solid var(--grey);
  padding: 1rem 2rem;
  min-height: 1rem;
  font-size: 1.125rem;
  border-radius: var(--border-radius);
  background-color: rgba(var(--dark), 0.8);
  color: var(--light);
}
